.Text-1 {
    font-family: Inter;
    font-size: 12px;
    font-weight: Regular;
    line-height: auto;
    text-decoration: NONE;
}

.H3 {
    font-family: Josefin Sans;
    font-size: 18px;
    font-weight: Bold;
    line-height: auto;
    text-decoration: NONE;
}

.Subtitle {
    font-family: Josefin Sans;
    font-size: 16px;
    font-weight: Regular;
    line-height: auto;
    text-decoration: NONE;
}

.button {
    font-family: Josefin Sans;
    font-size: 14px;
    font-weight: Medium;
    line-height: auto;
    text-decoration: NONE;
}

